In [1]:
import pandas as pd
import numpy as np

In [2]:
dataset = pd.read_csv("dataset.csv", sep=";")
dataset.head(5)

,symbol,longName,state,country,industry,sector,fullTimeEmployees,Open0,High0,Low0,Close0,Adj Close0,Volume0,Open1,High1,Low1,Close1,Adj Close1,Volume1
0,PLYM,"Plymouth Industrial REIT, Inc.",MA,United States,REIT—Industrial,Real Estate,34.0,14.650000,14.960000,14.340000,14.920000,14.744883,215100.0,15.32,15.340000,14.88,14.990000,14.814060,466500.0
1,MEDP,"Medpace Holdings, Inc.",OH,United States,Diagnostics & Research,Healthcare,3600.0,134.210007,138.240005,132.309998,137.580002,137.580002,140200.0,139.00,143.660004,139.00,143.300003,143.300003,196400.0
2,VALX,Validea Market Legends ETF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,KELYB,"Kelly Services, Inc.",MI,United States,Staffing & Employment Services,Industrials,7100.0,19.170000,19.610001,19.010000,19.580000,19.580000,5200.0,19.76,19.760000,19.15,19.709999,19.709999,1100.0
4,LVIN,Hartford Multifactor Low Volatility Internatio...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
dataset.columns, dataset.shape

(Index(['symbol', 'longName', 'state', 'country', 'industry', 'sector',
        'fullTimeEmployees', 'Open0', 'High0', 'Low0', 'Close0', 'Adj Close0',
        'Volume0', 'Open1', 'High1', 'Low1', 'Close1', 'Adj Close1', 'Volume1'],
       dtype='object'),
 (5747, 19))

In [4]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5747 entries, 0 to 5746
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symbol             5747 non-null   object
 1   longName           5428 non-null   object
 2   state              3792 non-null   object
 3   country            4299 non-null   object
 4   industry           4281 non-null   object
 5   sector             4281 non-null   object
 6   fullTimeEmployees  3520 non-null   float64
 7   Open0              4938 non-null   float64
 8   High0              4938 non-null   float64
 9   Low0               4938 non-null   float64
 10  Close0             4938 non-null   float64
 11  Adj Close0         4938 non-null   float64
 12  Volume0            4938 non-null   float64
 13  Open1              4938 non-null   float64
 14  High1              4938 non-null   float64
 15  Low1               4938 non-null   float64
 16  Close1             4938 non-null   float64
 17  Adj Close1         4938 non-null   float64
 18  Volume1            4938 non-null   float64
dtypes: float64(13), object(6)
memory usage: 853.2+ KB

In [5]:
dataset.isnull().sum()

symbol                  0
longName              319
state                1955
country              1448
industry             1466
sector               1466
fullTimeEmployees    2227
Open0                 809
High0                 809
Low0                  809
Close0                809
Adj Close0            809
Volume0               809
Open1                 809
High1                 809
Low1                  809
Close1                809
Adj Close1            809
Volume1               809
dtype: int64

In [6]:
dataset.describe(include="all")

,symbol,longName,state,country,industry,sector,fullTimeEmployees,Open0,High0,Low0,Close0,Adj Close0,Volume0,Open1,High1,Low1,Close1,Adj Close1,Volume1
count,5747,5428,3792,4299,4281,4281,3.520000e+03,4938.000000,4938.000000,4938.000000,4938.000000,4938.000000,4.938000e+03,4938.000000,4938.000000,4938.000000,4938.000000,4938.000000,4.938000e+03
unique,5747,5300,70,48,145,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,BTO,CHS Inc.,CA,United States,Asset Management,Financial Services,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,1,5,539,3613,497,1092,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,1.374761e+04,213.776441,215.615373,210.267543,213.230684,213.105344,1.906070e+06,227.299259,230.812118,226.020147,229.010424,228.884120,1.752789e+06
std,NaN,NaN,NaN,NaN,NaN,NaN,5.848558e+04,5807.821383,5834.202676,5765.131289,5808.159591,5808.161677,1.128360e+07,5924.656340,5994.088743,5916.677884,5960.082557,5960.084884,1.026653e+07
min,NaN,NaN,NaN,NaN,NaN,NaN,1.000000e+00,0.000300,0.000300,0.000300,0.000300,0.000300,0.000000e+00,0.000300,0.000300,0.000300,0.000300,0.000300,0.000000e+00
25%,NaN,NaN,NaN,NaN,NaN,NaN,2.340000e+02,9.967500,10.160000,9.717500,10.022500,9.992500,4.980000e+04,10.090000,10.282500,9.850000,10.150000,10.066895,4.675000e+04
50%,NaN,NaN,NaN,NaN,NaN,NaN,1.549000e+03,23.320000,23.785001,22.974999,23.525001,23.342290,2.696500e+05,23.709999,24.059999,23.175000,23.605000,23.490000,2.585500e+05
75%,NaN,NaN,NaN,NaN,NaN,NaN,7.736250e+03,50.195001,51.120001,49.372501,50.565001,50.345094,9.922000e+05,51.075000,51.707500,50.342499,51.020000,50.721001,9.812000e+05
max,NaN,NaN,NaN,NaN,NaN,NaN,2.300000e+06,345000.000000,346945.000000,344250.000000,346175.000000,346175.000000,4.346080e+08,348300.000000,352000.000000,348300.000000,350201.000000,350201.000000,4.627759e+08

In [7]:
dataset = dataset.dropna(subset=['Open0', 'High0', 'Low0', 'Close0', 'Adj Close0',
                                 'Volume0', 'Open1', 'High1', 'Low1', 'Close1', 'Adj Close1', 'Volume1'])
dataset.head(5)

,symbol,longName,state,country,industry,sector,fullTimeEmployees,Open0,High0,Low0,Close0,Adj Close0,Volume0,Open1,High1,Low1,Close1,Adj Close1,Volume1
0,PLYM,"Plymouth Industrial REIT, Inc.",MA,United States,REIT—Industrial,Real Estate,34.0,14.650000,14.960000,14.340000,14.920000,14.744883,215100.0,15.320000,15.340000,14.880000,14.990000,14.814060,466500.0
1,MEDP,"Medpace Holdings, Inc.",OH,United States,Diagnostics & Research,Healthcare,3600.0,134.210007,138.240005,132.309998,137.580002,137.580002,140200.0,139.000000,143.660004,139.000000,143.300003,143.300003,196400.0
3,KELYB,"Kelly Services, Inc.",MI,United States,Staffing & Employment Services,Industrials,7100.0,19.170000,19.610001,19.010000,19.580000,19.580000,5200.0,19.760000,19.760000,19.150000,19.709999,19.709999,1100.0
5,CEY,VictoryShares Emerging Market High Div Volatil...,NaN,NaN,NaN,NaN,NaN,22.350000,22.440001,22.350000,22.434000,22.381737,1200.0,22.646999,22.693001,22.629999,22.653000,22.600225,5600.0
7,CXP,"Columbia Property Trust, Inc.",NY,United States,REIT—Office,Real Estate,160.0,13.630000,13.740000,13.300000,13.550000,13.356955,422500.0,13.610000,13.720000,13.220000,13.710000,13.514674,662700.0

In [8]:
dataset.isnull().sum()

symbol                  0
longName               16
state                1163
country               661
industry              673
sector                673
fullTimeEmployees    1427
Open0                   0
High0                   0
Low0                    0
Close0                  0
Adj Close0              0
Volume0                 0
Open1                   0
High1                   0
Low1                    0
Close1                  0
Adj Close1              0
Volume1                 0
dtype: int64

In [9]:
dataset.describe(include="all")

,symbol,longName,state,country,industry,sector,fullTimeEmployees,Open0,High0,Low0,Close0,Adj Close0,Volume0,Open1,High1,Low1,Close1,Adj Close1,Volume1
count,4936,4920,3773,4275,4263,4263,3.509000e+03,4936.000000,4936.000000,4936.000000,4936.000000,4936.000000,4.936000e+03,4936.000000,4936.000000,4936.000000,4936.000000,4936.000000,4.936000e+03
unique,4936,4813,70,48,145,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,BTO,CHS Inc.,CA,United States,Asset Management,Financial Services,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,1,5,535,3594,497,1080,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,1.378832e+04,213.850604,215.690281,210.340284,213.304625,213.179235,1.906842e+06,214.620653,218.134895,213.341025,216.332511,216.206156,1.753475e+06
std,NaN,NaN,NaN,NaN,NaN,NaN,5.857265e+04,5808.996958,5835.383578,5766.298250,5809.335242,5809.337330,1.128582e+07,5858.027534,5928.276160,5849.952161,5893.872409,5893.874491,1.026856e+07
min,NaN,NaN,NaN,NaN,NaN,NaN,1.000000e+00,0.000300,0.000300,0.000300,0.000300,0.000300,0.000000e+00,0.000300,0.000300,0.000300,0.000300,0.000300,0.000000e+00
25%,NaN,NaN,NaN,NaN,NaN,NaN,2.350000e+02,9.960000,10.160000,9.710000,10.020000,9.990000,4.980000e+04,10.085000,10.280000,9.850000,10.147500,10.064395,4.685000e+04
50%,NaN,NaN,NaN,NaN,NaN,NaN,1.555000e+03,23.309999,23.770000,22.969999,23.490000,23.307290,2.698500e+05,23.709999,24.059999,23.175000,23.605000,23.490000,2.589500e+05
75%,NaN,NaN,NaN,NaN,NaN,NaN,7.800000e+03,50.205001,51.140000,49.414001,50.585001,50.354224,9.925250e+05,51.044999,51.682499,50.327499,51.000001,50.707001,9.814250e+05
max,NaN,NaN,NaN,NaN,NaN,NaN,2.300000e+06,345000.000000,346945.000000,344250.000000,346175.000000,346175.000000,4.346080e+08,348300.000000,352000.000000,348300.000000,350201.000000,350201.000000,4.627759e+08

In [10]:
dataset = dataset.dropna()
dataset.head(5)

,symbol,longName,state,country,industry,sector,fullTimeEmployees,Open0,High0,Low0,Close0,Adj Close0,Volume0,Open1,High1,Low1,Close1,Adj Close1,Volume1
0,PLYM,"Plymouth Industrial REIT, Inc.",MA,United States,REIT—Industrial,Real Estate,34.0,14.650000,14.960000,14.340000,14.920000,14.744883,215100.0,15.32,15.340000,14.88,14.990000,14.814060,466500.0
1,MEDP,"Medpace Holdings, Inc.",OH,United States,Diagnostics & Research,Healthcare,3600.0,134.210007,138.240005,132.309998,137.580002,137.580002,140200.0,139.00,143.660004,139.00,143.300003,143.300003,196400.0
3,KELYB,"Kelly Services, Inc.",MI,United States,Staffing & Employment Services,Industrials,7100.0,19.170000,19.610001,19.010000,19.580000,19.580000,5200.0,19.76,19.760000,19.15,19.709999,19.709999,1100.0
7,CXP,"Columbia Property Trust, Inc.",NY,United States,REIT—Office,Real Estate,160.0,13.630000,13.740000,13.300000,13.550000,13.356955,422500.0,13.61,13.720000,13.22,13.710000,13.514674,662700.0
9,ESQ,"Esquire Financial Holdings, Inc.",NY,United States,Banks—Regional,Financial Services,99.0,22.100000,22.610001,21.510000,21.760000,21.760000,8800.0,22.10,23.160000,22.01,22.070000,22.070000,20200.0

In [11]:
dataset.shape

(3128, 19)

In [12]:
dataset.describe(include="all")

,symbol,longName,state,country,industry,sector,fullTimeEmployees,Open0,High0,Low0,Close0,Adj Close0,Volume0,Open1,High1,Low1,Close1,Adj Close1,Volume1
count,3128,3128,3128,3128,3128,3128,3.128000e+03,3128.000000,3128.000000,3128.000000,3128.000000,3128.000000,3.128000e+03,3128.000000,3128.000000,3128.000000,3128.000000,3128.000000,3.128000e+03
unique,3128,3059,68,6,143,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,EPZM,CHS Inc.,CA,United States,Banks—Regional,Healthcare,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,1,5,474,2998,311,528,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,1.207903e+04,173.344641,175.344880,172.091687,174.351314,174.217986,2.232770e+06,175.641922,178.166215,174.696440,176.597035,176.462652,2.143579e+06
std,NaN,NaN,NaN,NaN,NaN,NaN,5.796459e+04,6169.536219,6204.357139,6156.104438,6190.575401,6190.575877,1.171650e+07,6228.572635,6294.768046,6228.556532,6262.582244,6262.582688,1.053241e+07
min,NaN,NaN,NaN,NaN,NaN,NaN,1.000000e+00,0.000300,0.000300,0.000300,0.000300,0.000300,0.000000e+00,0.000300,0.000300,0.000300,0.000300,0.000300,0.000000e+00
25%,NaN,NaN,NaN,NaN,NaN,NaN,2.407500e+02,10.115000,10.382500,9.797500,10.212500,10.147714,1.235750e+05,10.255000,10.537500,9.920000,10.235000,10.235000,1.173750e+05
50%,NaN,NaN,NaN,NaN,NaN,NaN,1.517000e+03,26.355000,27.080000,25.735001,26.580000,26.468189,4.341500e+05,26.735000,27.415000,26.155000,26.870000,26.749303,4.489500e+05
75%,NaN,NaN,NaN,NaN,NaN,NaN,7.100000e+03,65.257498,66.422499,64.244999,65.820002,65.482550,1.350950e+06,66.360998,67.412502,65.242250,66.555002,66.139126,1.333250e+06
max,NaN,NaN,NaN,NaN,NaN,NaN,2.300000e+06,345000.000000,346945.000000,344250.000000,346175.000000,346175.000000,4.346080e+08,348300.000000,352000.000000,348300.000000,350201.000000,350201.000000,4.627759e+08

In [13]:
from sklearn.preprocessing import OneHotEncoder

In [14]:
dataset = dataset.drop(columns=["symbol", "longName"])
dataset.head()

,state,country,industry,sector,fullTimeEmployees,Open0,High0,Low0,Close0,Adj Close0,Volume0,Open1,High1,Low1,Close1,Adj Close1,Volume1
0,MA,United States,REIT—Industrial,Real Estate,34.0,14.650000,14.960000,14.340000,14.920000,14.744883,215100.0,15.32,15.340000,14.88,14.990000,14.814060,466500.0
1,OH,United States,Diagnostics & Research,Healthcare,3600.0,134.210007,138.240005,132.309998,137.580002,137.580002,140200.0,139.00,143.660004,139.00,143.300003,143.300003,196400.0
3,MI,United States,Staffing & Employment Services,Industrials,7100.0,19.170000,19.610001,19.010000,19.580000,19.580000,5200.0,19.76,19.760000,19.15,19.709999,19.709999,1100.0
7,NY,United States,REIT—Office,Real Estate,160.0,13.630000,13.740000,13.300000,13.550000,13.356955,422500.0,13.61,13.720000,13.22,13.710000,13.514674,662700.0
9,NY,United States,Banks—Regional,Financial Services,99.0,22.100000,22.610001,21.510000,21.760000,21.760000,8800.0,22.10,23.160000,22.01,22.070000,22.070000,20200.0

In [15]:
non_number = dataset[["state", "country", "industry", "sector"]]
dataset = dataset.drop(columns=["state", "country", "industry", "sector"])

In [16]:
non_number = pd.DataFrame(OneHotEncoder().fit_transform(non_number).A)
non_number.head(5)

,0,1,2,3,4,5,6,7,8,9,...,218,219,220,221,222,223,224,225,226,227
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [17]:
non_number.shape

(3128, 228)

In [18]:
dataset = non_number.join(dataset)
dataset.head(5)

,0,1,2,3,4,5,6,7,8,9,...,Low0,Close0,Adj Close0,Volume0,Open1,High1,Low1,Close1,Adj Close1,Volume1
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,14.340000,14.920000,14.744883,215100.0,15.32,15.340000,14.88,14.990000,14.814060,466500.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,132.309998,137.580002,137.580002,140200.0,139.00,143.660004,139.00,143.300003,143.300003,196400.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,19.010000,19.580000,19.580000,5200.0,19.76,19.760000,19.15,19.709999,19.709999,1100.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

La jointure ne se fait pas correctement, je ne sais pas pourquoi.

In [19]:
dataset.shape

(3128, 241)

In [20]:
from sklearn.decomposition import PCA

In [21]:
pca = PCA(n_components=2)

In [22]:
pca_data = pca.fit_transform(dataset)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

In [24]:
import matplotlib.pyplot as plt

In [25]:
plt.plot(pca_data)

NameError: name 'pca_data' is not defined